// #0E7FFB
$violet        :#530ff5;
$cyan          :#2cbae7;
$green         :#65b11a;
$pink          :#fe2973;
// #FE4A65
$orange        :#ffa502;
$red           :#ff5533;
$yellow        :#FFD52E;
$grey          :#9fa0a4;
$black         :#000000;
$lightblue     :#65d0fc;
$blue          :#157efb;
$white         :#ffffff;
$black         :#000000;
$violet01      :#e3f9fd;
$cyan01        :#cbebf5;
$green01       :#f0f7ee;
$pink01        :#fcf1f4;
$orange      :#FFA500;
$red01         :#ffeeeb;
$yellow01      :#fffbe6;
$grey01        :#f6f6f6;
$black01       :#ffffff;
$lightblue01   :#f0fbff;
$blue01        :#eaf3ff;
$white01       :#000000;
$black01       :#ffffff;

$light   : #f2f2f2;
$blue    : #3F54D1;
$night   : #000024;
$dark    : #000d1f;
$night3  : #011225;
$night2  : #0D1218;
$night1  : #061220;

$base1      : #ffffff;
$base       : #eeeeee;
$base01     : #cccccc;
$base02     : #888888;
$base03     : #333333;
