html
    head
    meta(charset='utf-8')
    meta(name="format-detection" content="telephone=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" type="text/css" href="css/screen.css")
    //- meta(name="apple-mobile-web-app-status-bar-style" content="rgba(0,0,0,.7)")

    //- Libs
    script(type="text/javascript" src="js/underscore.min.js")
    script(type="text/javascript" src="js/jquery-1.11.0.min.js")
    script(type="text/javascript" src="js/highlight.min.js")
    script(type="text/javascript" src="js/highlight.lua.min.js")
    link(rel="stylesheet" type="text/css" href="css/font/black-tie/css/black-tie.min.css")

    //- Home JS
    script(type="text/javascript" src="js/mad.js")
    script(type="text/javascript" src="js/hue.js")
    script(type="text/javascript" src="js/dim.js")
    script(type="text/javascript" src="js/display_modules.js")
    script(type="text/javascript" src="assets/images.js")

    title LAEH
    body
        .viewport
            .screen
                #display
                    .content
                        .slideshow
                        .wall
                #menu
                    #modes
                        .btn.active&attributes({'data-mode': 'slide'}) SLIDESHOW
                        .btn&attributes({'data-mode': 'scroll'}) SCROLL
                    #tags
                        .btn.active&attributes({'data-id': 'all'}) ALL
                        .btn&attributes({'data-id': 'composition.noir'})          noir
                        .btn&attributes({'data-id': 'composition.couleur'})       couleur
                        .btn&attributes({'data-id': 'composition.elements'})      elements
                        .btn&attributes({'data-id': 'photo'})                     photo
                        .btn&attributes({'data-id': 'photo.dirt'})                dirt
                        .btn&attributes({'data-id': 'photo.vivid'})               vivid
                        .btn&attributes({'data-id': 'photo.scenes'})              scenes
                        .btn&attributes({'data-id': 'photo.animals'})             animals
                        .btn&attributes({'data-id': 'photo.contrast'})            contrast
                        .btn&attributes({'data-id': 'photo.vehicles'})            vehicles
                        .btn&attributes({'data-id': 'photo.lightlife'})           lightlife
                        .btn&attributes({'data-id': 'photo.crownvictoria'})       crownvictoria
                        .btn&attributes({'data-id': 'MADPIXELS'})                 madpixels
                        .vspacing
                    #colors
                        .btn.tag.blue.color&attributes({'data-id':'color.blue'})
                            .left
                            .right
                        .btn.tag.cyan.color&attributes({'data-id':'color.cyan'})
                            .left
                            .right
                        .btn.tag.green.color&attributes({'data-id':'color.green'})
                            .left
                            .right
                        .btn.tag.orange.color&attributes({'data-id':'color.orange'})
                            .left
                            .right
                        .btn.tag.yellow.color&attributes({'data-id':'color.yellow'})
                            .left
                            .right
                        .btn.tag.red.color&attributes({'data-id':'color.pink'})
                            .left
                            .right
                        .btn.tag.pink.color&attributes({'data-id':'color.pink'})
                            .left
                            .right
                        .btn.tag.black.color&attributes({'data-id':'color.green'})
                            .left
                            .right


                        //- a(class='button madbits', href='http://www.madbits.com', target="_blank")
                        //-         i.icon.fa.fa-road
                        //-         p Work

            #name Louis-Alexandre Etezad-Heydari
            #logo
            #mask

    script(type='text/javascript').
        $(document).ready(function() {
            //- ╔══════════════════════════════════════════╗
            //- ║                                          ║
            //- ╚══════════════════════════════════════════╝
            var base = 'https://dl.dropboxusercontent.com/u/233335115/images/laeh.io/sizes/300/';
            $wall = $('.wall')
            var allstars = imagesMap["composition.elements"]

            allstars = _.shuffle(allstars)
            for(var i = 1; i <17; i++) {
                $box = $('<div>',{'class': 'box'});
                $img = $('<div>',{'class': 'img'});
                var idx = allstars[i]
                var url = base+idx+'.jpg'
                $img.css({
                    'background-image' : 'url(' + url + ')',
                });

                $box.appendTo($wall);
                $img.appendTo($box);
            }
            //- ╔══════════════════════════════════════════╗
            //- ║                                          ║
            //- ╚══════════════════════════════════════════╝
            var docw = $('body').width();
            var doch = $('body').height();
            var displayRatio = docw / doch;
            console.log(docw,doch,displayRatio)

            if (docw > 1024){
                console.log('YES docw < 1024')
                $('#mask').addClass('hidden')

            }

            //- ╔══════════════════════════════════════════╗
            //- ║                                          ║
            //- ╚══════════════════════════════════════════╝

            var s = '1000'
            //- MIN & MAX
            var w = $('.slideshow').width()
            var h = $('.slideshow').height()
            if ( w  < 100  || doch < 400  ){  s = '400';}
            if ( w  > 2000 || w  > 2000 ){ s = '2000';}

            if ( (w>100 && w<200)   || (h>100 && h<200))   { s = '200';}
            if ( (w>200 && w<300)   || (h>200 && h<300))   { s = '300';}
            if ( (w>300 && w<300)   || (h>300 && h<300))   { s = '300';}
            if ( (w>400 && w<600)   || (h>400 && h<600))   { s = '600';}
            if ( (w>500 && w<600)   || (h>500 && h<600))   { s = '700';}
            if ( (w>600 && w<800)   || (h>600 && h<800))   { s = '800';}
            if ( (w>600 && w<800)   || (h>600 && h<800))   { s = '900';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1000';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1200';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1300';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1300';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1600';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1700';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1800';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '1900';}
            if ( (w>800 && w<1000)  || (h>800 && h<1000))  { s = '2000';}
            var baseUrl = 'https://dl.dropboxusercontent.com/u/233335115/images/laeh.io/sizes/' + s + '/';
            var ext = '.jpg';

            // Format imagesMap generation
            for (var key in imagesMap) {
                var urls = [];
                for(var i = 0; i < imagesMap[key].length; i++) {
                    // an image id is 4 characters (ex: 00001, 00099)

                    var nZero = 5 - imagesMap[key][i].toString().length;
                    var nZero = 0

                    var url = '';
                    for(var z = 0; z < nZero; z++) {
                        url += '0';
                    }
                    url += imagesMap[key][i];

                    urls.push(baseUrl + url + ext);
                }
                imagesMap[key] = urls;
            }

            //- ╔══════════════════════════════════════════╗
            //- ║                                          ║
            //- ╚══════════════════════════════════════════╝

            var mySlideshow = new Display.slideshow({
                'images': [],
                'slideDuration': 5000,
                '$container': $('.slideshow')
            });

             var myScroll = new Display.scroll({
                'images': [],
                '$container': $('.slideshow')
            });

            // Load a new tag
            $('.btn').click(function(e) {
                e.stopPropagation();

                $('.btn').removeClass('active');
                $(this).addClass('active');

                var id = $(this).data('id');
                if(id) {
                    loadTag(id);
                }
            });

            function loadTag(id) {
                currentTag = id || currentTag;

                if(currentMode === 'slide') {
                    mySlideshow.update(imagesMap[currentTag]);
                    mySlideshow.reset();
                    mySlideshow.render();
                    mySlideshow.start();
                    $('.screen').removeClass('scroll')
                } else {
                    $('.screen').addClass('scroll')
                    myScroll.update(imagesMap[currentTag]);
                    myScroll.reset();
                    myScroll.render();
                    myScroll.start();
                }
            };

            // Change the mode for the current tag
            $('#modes .btn').click(function(    e) {
                e.stopPropagation();

                var mode = $(this).data('mode');
                if(mode != currentMode) {
                    currentMode = mode;
                    loadTag();
                }
            });

            var currentTag = Object.keys(imagesMap)[0]; // default tag is first
            var currentMode = 'slide'; // default mode is slideshow

            //- var currentMode = 'scroll';

            // Load the first tag with the default mode
            loadTag();

            //- ╔══════════════════════════════════════════╗
            //- ║                                          ║
            //- ╚══════════════════════════════════════════╝

            $('.warning').click(function() {
                console.log('warning clicked')
                $('.warning').toggleClass('hidden');
            });

            $('.menu').click(function() {
                console.log('menu clicker')
                $('.menu').toggleClass('hidden');
            });
        });


//- amaheswaran@twitter.com
//- clmnt@twitter.com
//- conall@twitter.com>
//- dhasegan@twitter.com
//- kquennesson@twitter.com
//- lalonso@twitter.com
//- mmalin@twitter.com
//- nimalan@twitter.com
//- nkoumchatzky@twitter.com
//- sngahane@twitter.com
//- sreddy@twitter.com
//- xianw@twitter.com
//- ztaylor@twitter.com







